snippet bg
	\begin{${1:env}}
		${0:${VISUAL}}
	\end{$1}

snippet eq
	\begin{equation}
		${0:${VISUAL}}
	\end{equation}

snippet eqq
	\begin{equation*}
		${0:${VISUAL}}
	\end{equation*}

snippet al
	\begin{align}
		${0:${VISUAL}}
	\end{align}

snippet all
	\begin{align*}
		${0:${VISUAL}}
	\end{align*}
